@model AuctionHouse.Models.AuctionItems

@{
    ViewData["Title"] = "CreateBid";
}

<h2>CreateBid</h2>

<div>
    <h4>AuctionItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.BidPrice)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.BidPrice)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BidCustomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidCustomName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BidCustomPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidCustomPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BidTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidTimeStamp)
        </dd>
        <content><form asp-controller="Home"> </form></content>
    </dl>
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
