@model IEnumerable<AuctionHouse.Models.AuctionItems>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidCustomPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidCustomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidCustomPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidTimeStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
